<div class="main-container">
  <div class="log-form">
    <div class="flame08">
      <h2 >会員登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
         <%= f.label :name %><br />
         <%= f.text_field :name %>
        </div>
        
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="field">
          <%= f.label :確認用パスワード %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-outline-dark" %>
        </div>
      <% end %>
      <h4>既に登録済みの方</h4>
      <%= link_to 'コチラ', new_user_session_path %>からログインしてください
    </div>
  </div>
</div>