<html>
<body><br><br><br><br><br><br>	
	<div class="mybox5">
		<div class="row">
				
				<% if @user.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@user.errors.count, "error") %> prohibited
					this book from being saved:</h2>
					<ul>
						<% @user.errors.full_messages.each do |msg|%>
						<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
				<% end %>
				<div>
				  <p>登録されているEmail</p>
				  <p><%= current_user.email %></p>
			    </div>
				<%= form_for (@user) do |f| %>
				<div>
					<label>お名前</label><br>
					<%= f.text_field :name %>
				</div>
				<div>
					<label>プロフィール画像を投稿</label>
					<%= f.attachment_field :profile_image %>
				</div>
				<div>
					<label>ひとこと</label><br>
					<%= f.text_area :introduction %>
				</div>
				<div>
					<%= f.submit "編集内容を更新する" %>
				</div>
				<% end %><br>
                <%= link_to "パスワードの変更と退会はこちら", edit_user_registration_path(current_user),class: "btn btn-border-shadow" %>
		</div>
	</div>
</body>
</html>