<br><br><div class="container">
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-4">
  <%= render :partial => 'layouts/userform', :locals => {:user => @user}%>
   <%= render :partial => 'layouts/form', :locals => {:post => @post}%>
 </div>
  <div class="col-xs-8">
    <div class="box14">
      <h1>おともだち</h1>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>お名前</th>
            <th>ひとこと</th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "girl.jpg", size: "50x50" %></td>
            <td><%= user.name %></td>
            <td><%= user.introduction %></td>
            <td><%= link_to '夢をみる',user_path(user.id),class: "btn btn-border-shadow aq" %></td>
          </tr>
          <% end %>
          <div class="box20">
              <%= paginate @users %>
            </div>
        </tbody>
      </table><br>
    </div>
  </div>
</div>
</div>