<br><br><br>
<div class="container">
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-3">
  <%= render :partial => 'layouts/userform', :locals => {:user => @user}%>
   <%= render :partial => 'layouts/form', :locals => {:post => @post}%>
 </div>
<div class="col-xs-9">
<div class="box23">
  <h1><%= @user.name %>のみた夢</h1>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr> 
        <th>どんなゆめ？</th>
        <th>なにがおきたの？</th>
        <th colspan="3"></th>
        <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><%= post.body %></td>
        </tr>
        <% end %>
      </tr>
    </thead>
  </table><br>
</div>
</div>
</div>
</div>