  <br><br><br>
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-xs-4">
        <%= render :partial => 'layouts/userform', :locals => {:user => @user}%>
        <%= render :partial => 'layouts/form', :locals => {:post => @post}%>
      </div>
      <div class="col-xs-8">
        <div class="box15">
          <h1>投稿された夢</h1>
          <table class='table table-hover table-inverse'>
            <thead>
              <tr>
                <th></th>
                <th>どんな夢？</th>
                <th>何をしたの？</th>
              </tr>
            </thead>
            <tbody>
              <% @posts.each do |post| %>
              <tr>
                <td><%= link_to user_path(post.user) do %>
                  <%= attachment_image_tag post.user, :profile_image,  class: "img-circle pull-left profile-thumb", fallback: "girl.jpg", size: "50x50" %><% end %></td>
                <td><%= link_to post.title, post %></td>
                <td><%= post.body %></td>
              </tr>
              <% end %>
              <%= paginate @posts %>
            </tbody>
          </table><br>
        </div>
      </div>
    </div>
  </div>