<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-xs-4">
        <%= render :partial => 'layouts/userform', :locals => {:user => @user}%>
        <%= render :partial => 'layouts/form', :locals => {:post => @post}%>
      </div>
      <div class="col-xs-8">
        <div class="postindexbox">
          <h1 class="text-center">みんなが投稿した夢</h1>
          <table class='table table-hover table-inverse'>
            <thead>
              <tr>
                <th></th>
                <th><%= sort_link(@search, :title, 'どんな夢？') %></th>
                <th>何をしたの？</th>
                <th><%= sort_link(@search, :created_at, '投稿日') %></th>
                <th>タグ</th>
              </tr>
            </thead>
            <tbody>
              <% @posts.each do |post| %>
              <tr>
                <td><%= link_to user_path(post.user) do %>
                  <%= attachment_image_tag post.user, :profile_image,  class: "img-circle pull-left profile-thumb", fallback: "girl.jpg", size: "50x50" %><% end %></td>
                <td><%= link_to post.title,post %></td>
                <td><%= simple_format(post.body) %></td>
                <td><%= time_ago_in_words(post.created_at) %>前</td>
                <td><%= raw(post.tag_list.map { |t| link_to t, posts_path(tag: t) }.join(', ')) %></td>
              </tr>
              <% end %>
              <div class="pagebox">
              　　<%= paginate @posts %>
            </div>
            </tbody>
          </table><br>
        </div>
      </div>
    </div>
  </div>