<br>
<br>
<br>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-xs-4">
      <%= render :partial => 'layouts/userform', :locals => {:user => @user}%>
      <%= render :partial => 'layouts/form', :locals => {:post => @post}%>
    </div>
    <div class="col-xs-8">
      <div class="mybox3">
          <h2 >
            <%= @post.title %>
          </h2>
          <p><%= simple_format(@post.body) %></p>
          <%= render :partial => 'posts/favorite', :locals => {:post => @post} %>
          <%= link_to '編集する', edit_post_path(@post), class: 'btn-sm btn-success' %>
          <%= link_to '投稿を消去', post_path(@post), method: :delete, class: "btn-sm btn-danger" %>
          <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
          </div>
      </div>
      <div class="flame11">
        見るとちょっと危険かも？<h3>警告夢とは</h3>
        悪夢は不吉なことの予兆と言われることがあります<br>
        怖い夢を見たら普段の行動を省みたり、新しいことなどをはじめてみましょう<br>
      </div>
      <div class="flame12">
        見るとラッキー！<h3>縁起のいい夢</h3>
        皆さんも一度は聞いたことがあるであろう「一富士二鷹三茄子」<br>
        実は続きがあるのご存知でしたか？<br>
        それは「四扇五煙草六座頭」、流石に座頭が夢に出てくることはないかもしれませんが<br>
        うちわやタバコなら皆さんの中にも見たことがある方がいそうですね
      </div>
    </div>
  </div>
</div>