<br>
<br>
<br>
<div class="container">
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-3">
      <%= render :partial => 'layouts/userform', :locals => {:user => @user}%>
      <%= render :partial => 'layouts/form', :locals => {:post => @post}%>
  </div>
  <div class="col-xs-9">
    <div class="mybox3">
      <main class="mdl-layout__content">
        <h1 class="mdl-card__title-text">
          <%= @post.title %>
        </h1>
        <p><%= @post.body %></p>
        <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
        <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
        <%= link_to 'Edit', edit_post_path(@post), class: 'btn-sm btn-success' %>
        <%= link_to 'Destroy', post_path(@post), method: :delete, class: "btn-sm btn-danger destroy_book_27368" %>
        <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
        </div>
        <figure class="mdl-card__media">
          <%= image_tag 'person_5.jpg', size: "600x400" %>
        </figure>
      </main>
    </div>
  </div>
</div>