<div class="newbox">
	<%= form_for(post) do |f| %>
	<% if post.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(post.errors.count, "error") %> prohibited
			this book from being saved:
		</h2>
		<ul>
			<% post.errors.full_messages.each do |msg|%>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="cp_iptxt">
		<%= f.text_field :title, :placeholder => "タイトル" %>
		<i class="fa fa-book fa-lg fa-fw" ></i>
	</div>
	<div class="cp_iptxt">
		<%= f.text_area :body,:placeholder => "内容" %>
		<i class="fa fa-file-text-o fa-lg"></i>
	</div>
	<div class="cp_iptxt">
		<%= f.text_field :tag_list,:placeholder => "タグを記入" %>
		<i class="fa fa-smile-o fa-lg"></i> 
	</div>
	<%= f.submit '投稿する', class: "btn btn-border-shadow blue" %>
	<% end %>
</div>