<html>
<head>
  <title>夢日記</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <% if user_signed_in? %>
  <header header class="header-box">
    <div class="mybox2">
    <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span class="logo">夢日記
            <g class="glyphicon glyphicon-comment" aria-hidden="true">
            </g>
          </span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to 'マイページ', user_path(current_user.id), class: "btn btn-border-shadow w" %></li>
            <li><%= link_to "ユーザー一覧","/users", class: "btn btn-border-shadow w" %></li>
            <li><%= link_to "投稿一覧","/posts", class: "btn btn-border-shadow w" %></li>
            <li><%= link_to "ログアウト",destroy_user_session_path, class: "glyphicon glyphicon-log-out logout btn btn-border-shadow w",method: :delete %></li>
            <li>
              <dl class="searchbox">
                <%= search_form_for @search, url: posts_path do |f| %>
        <dt><%= f.text_field :title_cont, placeholder: 'どんな夢をお探しですか' %></dt>
         <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
         <% end %>
         </dl>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </header>

  <% else %>
  <header header class="header-box">
    <div class="mybox2">

    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <span class="logo">夢日記</span>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "トップページに戻る","/", class: "btn btn-border-shadow w" %></li>
          <li><%= link_to "About","/", class: "btn btn-border-shadow w" %></li>
          <li><%= link_to "新規登録","/users/sign_up",class: "btn btn-border-shadow w"  %></li>
          <li><%= link_to "ログイン","/users/sign_in",class: "btn btn-border-shadow w"  %></li>
        </ul>
      </nav>
    </div>
    </div>
  </header>
  <% end %>
    <%= yield %>

  <footer>
    <div class='footerbox'>
    <div class='container'>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
  </footer>
</body>
</html>